Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "admin-ui/**/*.html": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "packages/!(admin-ui|dev-server)/**/*.ts": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/**/*.{ts,tsx}": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/src/lib/**/use-*.{ts,tsx}": ["node packages/dashboard/scripts/check-lib-imports.js"]
}

fix(core): Fix SubscribableJob.updates() completing after single emission
  packages/core/e2e/fixtures/test-plugins/with-job-queue.ts
  packages/core/e2e/job-queue.e2e-spec.ts
  packages/core/src/job-queue/subscribable-job.ts
Due: none

ci: Improve dashboard test reliability in publish workflow
  .github/workflows/publish_and_install.yml
  .github/workflows/scripts/dashboard-tests.js
Due: none

fix(core): Fix SubscribableJob.updates() completing after single emission (#4120)
  packages/core/e2e/fixtures/test-plugins/with-job-queue.ts
  packages/core/e2e/job-queue.e2e-spec.ts
  packages/core/src/job-queue/subscribable-job.ts
Due: none

fix(create): Set api url to `auto` for newly created projects (#4102)
  packages/create/templates/vite.config.hbs
Due: none

feat(payments-plugin): Owner permission for syncMolliePaymentStatus
  packages/payments-plugin/src/mollie/mollie.common-resolver.ts
Due: none

docs: Enhance custom form components documentation with links and warnings
  docs/docs/guides/extending-the-dashboard/custom-form-components/index.md
  docs/docs/guides/extending-the-dashboard/customizing-pages/customizing-detail-pages.md
Due: none

fix(ci): Kill dev server after smoke tests to prevent port conflict
  .github/workflows/publish_and_install.yml
Due: none

fix(ci): Use cross-platform port kill after smoke tests
  .github/workflows/publish_and_install.yml
Due: none

fix(ci): Use /health endpoint for wait-on check
  .github/workflows/publish_and_install.yml
Due: none

feat(payments-plugin): Duplicate count
  packages/payments-plugin/src/mollie/mollie.service.ts
Due: none

fix: Dashboard plugin detection with pnpm
  packages/dashboard/vite/utils/plugin-discovery.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test: Dashboard plugin detection with pnpm
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/fake_node_modules/test-plugin
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/package.json
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/vendure-config.ts
  packages/dashboard/vite/tests/pnpm-plugin.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: Add callout to database entity docs clarifying ES2022 compat. issue
  docs/docs/guides/developer-guide/database-entity/index.md
Due: none

chore: Revert package version updates to 3.5.2
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/admin-ui/package.json
  packages/admin-ui/src/lib/core/src/common/version.ts
  packages/asset-server-plugin/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dashboard/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
  packages/graphiql-plugin/package.json
  packages/harden-plugin/package.json
  packages/job-queue-plugin/package.json
  packages/payments-plugin/package.json
  packages/sentry-plugin/package.json
  packages/stellate-plugin/package.json
  packages/telemetry-plugin/package.json
  packages/testing/package.json
  packages/ui-devkit/package.json
Due: none

chore: Improve dashboard test reliability in publish workflow (#4122)
  .github/workflows/publish_and_install.yml
  .github/workflows/scripts/dashboard-tests.js
Due: none

docs: add warning to distinguish custom field extension vs detail input field extension (#4123)
  docs/docs/guides/extending-the-dashboard/custom-form-components/index.md
  docs/docs/guides/extending-the-dashboard/customizing-pages/customizing-detail-pages.md
Due: none

perf(ci): Speed up publish_and_install workflow
  .github/workflows/publish_and_install.yml
Due: none

fix(create): add useDefineForClassFields to fix ES2022 (#4116)
  docs/docs/guides/developer-guide/database-entity/index.md
  packages/create/templates/tsconfig.template.json
Due: none

chore: Speed up publish_and_install workflow (#4127)
  .github/workflows/publish_and_install.yml
Due: none

feat(dashboard): Add loading skeleton for filter application in collection detail page
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Invalidate query cache on filter application in collection detail page
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Implement job queue polling for filter application in collection detail page
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
  packages/dashboard/src/lib/hooks/use-job-queue-polling.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(dashboard): Add refundOrder and cancelOrder GraphQL mutations
  packages/dashboard/src/app/routes/_authenticated/_orders/orders.graphql.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add refund utility functions
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/get-refundable-payments.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/order-utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add RefundOrderDialog component
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Integrate RefundOrderDialog into order detail page
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Allow RefundOrderDialog to be triggered externally
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Move refund to dropdown menu as 'Refund & Cancel'
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Extract refund utility functions
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/refund-utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Create useRefundOrder hook
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
