Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(docs): Use publish:local script in CI workflow
  .github/workflows/publish_docs.yml
  docs/package.json
Due: none

feat(docs): Add PR workflow to validate MDX files
  .github/workflows/validate_docs.yml
Due: none

fix(docs): Generate dates file before running MDX tests
  docs/package.json
Due: none

fix(docs): Add repository field for npm provenance verification
  docs/package.json
Due: none

feat(core): Make Asset entity translatable
  packages/core/src/api/schema/admin-api/asset.api.graphql
  packages/core/src/api/schema/common/asset.type.graphql
  packages/core/src/entity/asset/asset-translation.entity.ts
  packages/core/src/entity/asset/asset.entity.ts
  packages/core/src/entity/custom-entity-fields.ts
  packages/core/src/entity/entities.ts
  packages/core/src/entity/index.ts
  packages/core/src/service/helpers/translatable-saver/translation-differ.ts
  packages/core/src/service/services/asset.service.ts
  packages/dashboard/src/app/routes/_authenticated/_assets/assets.graphql.ts
  packages/dashboard/src/lib/components/shared/translatable-form-field.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Move draft order status block to the side column and add new component status-alert
  packages/dashboard/missing-translations.txt
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.draft.$id.tsx
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
  packages/dashboard/src/lib/components/shared/status-alert.tsx
  packages/dashboard/src/lib/components/ui/alert.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Add WithDisabledColumns story to ListPage
  packages/dashboard/src/lib/framework/page/list-page.stories.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(core): Make Asset entity translatable
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/src/api/schema/admin-api/asset.api.graphql
  packages/core/src/api/schema/common/asset.type.graphql
  packages/core/src/common/types/locale-types.ts
  packages/core/src/entity/asset/asset-translation.entity.ts
  packages/core/src/entity/asset/asset.entity.ts
  packages/core/src/entity/custom-entity-fields.ts
  packages/core/src/entity/entities.ts
  packages/core/src/entity/index.ts
  packages/core/src/service/helpers/translatable-saver/translation-differ.ts
  packages/core/src/service/services/asset.service.ts
  packages/dashboard/src/app/routes/_authenticated/_assets/assets.graphql.ts
  packages/dashboard/src/lib/components/shared/translatable-form-field.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Correctly publish ChangeChannelEvent with new channel IDs (#4174)
  packages/core/src/service/services/channel.service.ts
Due: none

fix(core): Fix Asset translation persistence and hydration
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/asset-server-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/core/e2e/fixtures/test-plugins/hydration-test-plugin.ts
  packages/core/e2e/graphql/graphql-env-admin.d.ts
  packages/core/e2e/graphql/graphql-env-shop.d.ts
  packages/core/src/api/resolvers/admin/api-key.resolver.ts
  packages/core/src/api/resolvers/admin/asset.resolver.ts
  packages/core/src/api/resolvers/entity/asset-entity.resolver.ts
  packages/core/src/data-import/providers/importer/importer.ts
  packages/core/src/service/helpers/entity-hydrator/entity-hydrator.service.ts
  packages/core/src/service/helpers/utils/translate-entity.ts
  packages/core/src/service/services/api-key.service.ts
  packages/core/src/service/services/asset.service.ts
  packages/dashboard/src/app/routeTree.gen.ts
  packages/dashboard/src/app/routes/_authenticated/_assets/assets_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants-dialog.tsx
  packages/dashboard/src/lib/components/shared/asset/asset-properties.tsx
  packages/dashboard/src/lib/graphql/fragments.ts
  packages/dashboard/src/lib/graphql/graphql-env.d.ts
  packages/dev-server/graphql/graphql-env.d.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

Merge commit from fork
  packages/core/src/config/auth/native-authentication-strategy.ts
Due: none

fix(core): Load asset translations in getEntityAssets and update tests
  packages/core/e2e/custom-field-relations.e2e-spec.ts
  packages/core/e2e/custom-fields.e2e-spec.ts
  packages/core/src/service/services/asset.service.ts
Due: none

fix(core): Fix array ordering in multi-vendor test for cross-DB compatibility
  packages/core/e2e/order-multi-vendor.e2e-spec.ts
Due: none

feat(dashboard): Add refund order dialog
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/orders.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/order-utils.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/refund-utils.ts
  packages/dashboard/src/i18n/common-strings.ts
  packages/dashboard/src/lib/hooks/use-dynamic-translations.ts
  packages/dashboard/src/lib/virtual.d.ts
  packages/dashboard/vite/utils/ui-config.ts
  packages/dashboard/vite/vite-plugin-ui-config.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

feat(dashboard): Add i18n translations for refund dialog
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/order-utils.ts
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Address PR #4130 review issues
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/refund-utils.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/use-modify-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Show rich refund details in order history
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-history/default-order-history-components.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-history/order-history-utils.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Correctly publish ChangeChannelEvent with new channel IDs. (#4176)
  packages/core/src/service/services/channel.service.ts
Due: none

feat(dashboard): Add disabled option to exclude columns in ListPage (#4170)
  docs/docs/guides/extending-the-dashboard/creating-pages/list-pages.mdx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/framework/page/list-page.stories.tsx
  packages/dashboard/src/lib/framework/page/list-page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Use softer icon and color for partial refunds
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-history/order-history-utils.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Address SonarQube code quality issues
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
  packages/dashboard/src/lib/hooks/use-dynamic-translations.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Include rendering of product-variant-price customfields in dashboard
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants_.$id.tsx
  packages/dashboard/src/lib/components/data-input/index.ts
  packages/dashboard/src/lib/framework/extension-api/input-component-extensions.tsx
  packages/dashboard/src/lib/framework/page/detail-page-route-loader.tsx
  packages/dev-server/graphql/graphql-env.d.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Use readonly modifier in RefundOrderDialogProps interface
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Show all items in the order details page (#4160)
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfill-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Move useCallback hooks before early return
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add refund order dialog (#4130)
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-history/default-order-history-components.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-history/order-history-utils.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/orders.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/order-utils.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/refund-utils.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/use-modify-order.ts
  packages/dashboard/src/i18n/common-strings.ts
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
  packages/dashboard/src/lib/hooks/use-dynamic-translations.ts
  packages/dashboard/src/lib/virtual.d.ts
  packages/dashboard/vite/utils/ui-config.ts
  packages/dashboard/vite/vite-plugin-ui-config.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Move draft order status block above content and add local status component
  packages/dashboard/src/app/routes/_authenticated/_orders/components/draft-order-status.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.draft.$id.tsx
  packages/dashboard/src/lib/components/shared/status-alert.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: Sync package-lock.json with package.json
  package-lock.json
Due: none

fix(dashboard): Add ProductVariantPrice customFields also to queryDocument on product-variant page
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants_.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: Sync package-lock.json with package.json (#4178)
  package-lock.json
Due: none

feat(dashboard): Display authentication methods on profile page
  packages/dashboard/src/app/routes/_authenticated/_profile/profile.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_profile/profile.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Display authentication methods on profile page (#4179)
  packages/dashboard/src/app/routes/_authenticated/_profile/profile.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_profile/profile.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dev-server): Revert test custom fields from graphql-env.d.ts
  packages/dev-server/graphql/graphql-env.d.ts
Due: none

chore(dashboard): Reset locales to the upstream master version
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: none

chore(dashboard): Generated draft status locales tokens with ar localization
  packages/dashboard/missing-translations.txt
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/en.po
Due: none

fix(dashboard): Clarify draft order completion UX (#4163)
  packages/dashboard/missing-translations.txt
  packages/dashboard/src/app/routes/_authenticated/_orders/components/draft-order-status.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.draft.$id.tsx
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/lib/components/ui/alert.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Transform Lingui macros in third-party npm packages
  packages/dashboard/vite/tests/lingui-npm-package.spec.ts
  packages/dashboard/vite/vite-plugin-lingui-babel.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Replace unit tests with integration tests for Lingui npm plugin fix
  packages/dashboard/vite/tests/fixtures-lingui-npm-plugin/fake_node_modules/@test-scope/lingui-plugin/dashboard/index.tsx
  packages/dashboard/vite/tests/fixtures-lingui-npm-plugin/fake_node_modules/@test-scope/lingui-plugin/index.js
  packages/dashboard/vite/tests/fixtures-lingui-npm-plugin/fake_node_modules/@test-scope/lingui-plugin/package.json
  packages/dashboard/vite/tests/fixtures-lingui-npm-plugin/package.json
  packages/dashboard/vite/tests/fixtures-lingui-npm-plugin/vendure-config.ts
  packages/dashboard/vite/tests/lingui-npm-package.spec.ts
  packages/dashboard/vite/tests/lingui-npm-plugin.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Address race condition and use proper API pattern
  packages/dashboard/vite/vite-plugin-lingui-babel.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Collection contents not showing after saving filters (#4128)
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
  packages/dashboard/src/lib/hooks/use-job-queue-polling.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
