Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

chore: Consolidate all publish workflows
  .github/workflows/publish_master_to_npm.yml
  .github/workflows/publish_minor_to_npm.yml
  .github/workflows/publish_to_npm.yml
Due: none

chore: Update Lerna to v9
  .prettierignore
  lerna.json
  package-lock.json
  package.json
Due: none

chore: Enable silly logging on Lerna publish
  .github/workflows/publish_to_npm.yml
Due: none

chore: Log env vars in publish workflow
  .github/workflows/publish_to_npm.yml
Due: none

chore: Use lerna exec in publish workflow
  .github/workflows/publish_to_npm.yml
Due: none

chore: Clean up publish workflow
  .github/workflows/publish_to_npm.yml
Due: none

chore(admin-ui): Remove override
  package-lock.json
  packages/admin-ui/package.json
Due: none

chore(admin-ui): Remove override
  packages/admin-ui/package.json
Due: none

chore: Use verbose logging for publish workflow
  .github/workflows/publish_to_npm.yml
Due: none

refactor(dashboard): Reduce cognitive load on the drop calculations
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/data-table-utils.ts
  packages/dashboard/src/lib/components/data-table/data-table.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/framework/page/list-page.tsx
  packages/dashboard/src/lib/hooks/use-drag-and-drop.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

refactor(dashboard): Remove unused var
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Avoid 429 errors in dev mode
  packages/dashboard/plugin/dashboard.plugin.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: Decimal values in tax rate
  packages/dashboard/src/app/routes/_authenticated/_tax-rates/tax-rates_.$id.tsx
  packages/dashboard/src/lib/components/data-input/number-input.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs(telemetry-plugin): Fix option name in docs
  docs/docs/reference/core-plugins/telemetry-plugin/index.md
  packages/telemetry-plugin/src/telemetry.plugin.ts
Due: none

fix(create): Include readme in monorepo mode
  packages/create/src/create-vendure-app.ts
Due: none

refactor(create): Refactor to clean up/de-duplicate
  packages/create/src/constants.ts
  packages/create/src/create-vendure-app.ts
  packages/create/src/helpers.ts
Due: none

fix(dashboard): Decimal values in tax rate input (#4052)
  packages/dashboard/src/app/routes/_authenticated/_tax-rates/tax-rates_.$id.tsx
  packages/dashboard/src/lib/components/data-input/number-input.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Implement dragging to reorder collections (#4035)
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/move-collections-dialog.tsx
  packages/dashboard/src/lib/components/data-table/data-table-utils.ts
  packages/dashboard/src/lib/components/data-table/data-table.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/components/ui/alert.tsx
  packages/dashboard/src/lib/framework/page/list-page.tsx
  packages/dashboard/src/lib/hooks/use-drag-and-drop.ts
  packages/dev-server/graphql/graphql-env.d.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

feat(create): Add Next.js storefront option to create command (#4015)
  packages/create/package.json
  packages/create/src/constants.ts
  packages/create/src/create-vendure-app.ts
  packages/create/src/gather-user-responses.ts
  packages/create/src/helpers.ts
  packages/create/src/types.ts
  packages/create/templates/.env.hbs
  packages/create/templates/monorepo/root-gitignore.template
  packages/create/templates/monorepo/root-package.json.hbs
  packages/create/templates/monorepo/root-readme.hbs
  packages/create/templates/monorepo/storefront-env.hbs
  packages/create/templates/tsconfig.dashboard.hbs
  packages/create/templates/tsconfig.dashboard.template.json
  packages/create/templates/tsconfig.template.json
  packages/dashboard/plugin/constants.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix products breadcrumb from variant detail
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants_.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Display shipping method in order summary
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table-totals.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Add missing key prop
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table-totals.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Display shipping method in order summary (#4054)
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table-totals.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Keep job queue action menu open during auto refresh
  packages/dashboard/src/app/routes/_authenticated/_system/job-queue.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Resolve merge conflicts by keeping master version
  packages/dashboard/src/app/routes/_authenticated/_tax-rates/tax-rates_.$id.tsx
  packages/dashboard/src/lib/components/data-input/number-input.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: Update getting started & storefront guides
  docs/docs/guides/getting-started/installation/app-screens.webp
  docs/docs/guides/getting-started/installation/create-1.webp
  docs/docs/guides/getting-started/installation/create-2.webp
  docs/docs/guides/getting-started/installation/create-3.webp
  docs/docs/guides/getting-started/installation/index.md
  docs/docs/guides/storefront/storefront-starters/index.mdx
  docs/docs/guides/storefront/storefront-starters/next-storefront.webp
Due: none

chore(create): Improve default scripts to also run dashboard
  packages/create/src/create-vendure-app.ts
Due: none

feat(dashboard): Product channel assigner
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/dashboard/src/app/routeTree.gen.ts
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id.tsx
  packages/dashboard/src/lib/components/shared/assigned-channels.tsx
  packages/dashboard/src/lib/components/shared/assigned-facet-values.tsx
  packages/dashboard/src/lib/components/shared/channel-chip.tsx
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Remove erroneous type changes
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
Due: none

refactor(dashboard): Remove duplicate code
  packages/common/src/generated-types.ts
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-dialog.tsx
  packages/dashboard/src/lib/components/shared/assigned-channels.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Fix build error
  packages/dashboard/src/lib/components/shared/assign-to-channel-bulk-action.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-dialog.tsx
  packages/dashboard/src/lib/components/shared/assigned-channels.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Coderabbit feedback
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-dialog.tsx
  packages/dashboard/src/lib/components/shared/assigned-channels.tsx
  packages/dashboard/src/lib/components/shared/assigned-facet-values.tsx
  packages/dashboard/src/lib/components/shared/channel-chip.tsx
  packages/dashboard/src/lib/providers/channel-provider.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: refactoring -> open values without causing unnecessary re-renders of the Facets table
  packages/dashboard/src/app/routes/_authenticated/_facets/components/facet-values-sheet.tsx
  packages/dashboard/src/app/routes/_authenticated/_facets/facets.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Re-work solution for facet value sheet
  packages/dashboard/src/app/routes/_authenticated/_facets/components/facet-values-sheet.tsx
  packages/dashboard/src/app/routes/_authenticated/_facets/facets.tsx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix: wrong add new facet value url
  packages/dashboard/src/app/routes/_authenticated/_facets/components/facet-values-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Use ref to track state of job list
  packages/dashboard/src/app/routes/_authenticated/_system/components/payload-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_system/job-queue.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): keep job queue dropdown open during auto refresh (#4059)
  packages/dashboard/src/app/routes/_authenticated/_system/components/payload-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_system/job-queue.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Undo the routeTree changes
  packages/dashboard/src/app/routeTree.gen.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
