Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(ci): Pass app token to AI inference step
  .github/workflows/generate_docs.yml
Due: none

test: Improve service class doc blocks
  packages/core/src/service/services/order.service.ts
  packages/core/src/service/services/product.service.ts
  packages/core/src/service/services/role.service.ts
Due: none

test: Improve CustomerService, ChannelService and CollectionService doc blocks
  packages/core/src/service/services/channel.service.ts
  packages/core/src/service/services/collection.service.ts
  packages/core/src/service/services/customer.service.ts
Due: none

test: Fix typos in Allow, Transaction and VendurePluginMetadata doc blocks
  packages/core/src/api/decorators/allow.decorator.ts
  packages/core/src/api/decorators/transaction.decorator.ts
  packages/core/src/plugin/vendure-plugin.ts
Due: none

test: Improve FacetService, PaymentMethodService and ShippingMethodService docs
  packages/core/src/service/services/facet.service.ts
  packages/core/src/service/services/payment-method.service.ts
  packages/core/src/service/services/shipping-method.service.ts
Due: none

fix(ci): Use default GITHUB_TOKEN for AI inference
  .github/workflows/generate_docs.yml
Due: none

test: Improve TaxRateService, ZoneService and EntityWithAssets docs
  packages/core/src/service/services/asset.service.ts
  packages/core/src/service/services/tax-rate.service.ts
  packages/core/src/service/services/zone.service.ts
Due: none

fix(dashboard): Fix list relation custom fields not saving correctly (#4206)
  packages/dashboard/src/lib/framework/form-engine/utils.spec.ts
  packages/dashboard/src/lib/framework/form-engine/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Resolve ESM path aliases relative to source file location
  packages/dashboard/vite/tests/esm-path-alias.spec.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/services/helper.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/vendure-config.ts
  packages/dashboard/vite/utils/compiler.ts
  packages/dashboard/vite/utils/path-transformer.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(create): Add ts-node to scaffolded project devDependencies (#4212)
  packages/create/src/helpers.ts
Due: none

chore(admin-ui): Add Swahili translation (#4217)
  packages/admin-ui-plugin/src/constants.ts
  packages/admin-ui/i18n-coverage.json
  packages/admin-ui/src/lib/static/i18n-messages/sw.json
  packages/admin-ui/src/lib/static/vendure-ui-config.json
Due: none

fix(dashboard): Resolve ESM path aliases relative to source file location (#4323)
  docs/docs/reference/core-plugins/elasticsearch-plugin/index.mdx
  docs/docs/reference/core-plugins/job-queue-plugin/pub-sub-plugin.mdx
  docs/docs/reference/core-plugins/payments-plugin/braintree-plugin.mdx
  docs/docs/reference/core-plugins/payments-plugin/mollie-plugin.mdx
  docs/docs/reference/core-plugins/payments-plugin/stripe-plugin.mdx
  docs/docs/reference/core-plugins/sentry-plugin/index.mdx
  docs/docs/reference/core-plugins/stellate-plugin/index.mdx
  packages/dashboard/vite/tests/esm-path-alias.spec.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/services/helper.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/vendure-config.ts
  packages/dashboard/vite/utils/compiler.ts
  packages/dashboard/vite/utils/path-transformer.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(event-bus): Add BootstrappedEvent and publish on app startup (#4203)
  packages/core/src/bootstrap.ts
  packages/core/src/event-bus/events/bootstrapped-event.ts
Due: none

docs: Update BootstrappedEvent version to 3.5.4
  packages/core/src/event-bus/events/bootstrapped-event.ts
Due: none

docs: Add BootstrappedEvent to event types reference
  docs/docs/guides/developer-guide/events/index.mdx
Due: none

docs: Generated documentation
  docs/docs/reference/dashboard/detail-views/use-detail-page.mdx
  docs/docs/reference/typescript-api/import-export/default-asset-import-strategy.mdx
Due: none

fix(dashboard): Add missing translations and CI check script (#4207)
  packages/dashboard/package.json
  packages/dashboard/scripts/translate/check-translations.js
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: none

fix(dashboard): Reset validity state when removing configurable operation
  packages/dashboard/src/lib/components/shared/configurable-operation-selector.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(job-queue-plugin): Unify worker management in BullMQJobQueueStrategy
  packages/job-queue-plugin/src/bullmq/bullmq-job-queue-strategy.ts
Due: none

fix(job-queue-plugin): Migrate BullMQ e2e test from Jest to Vitest
  packages/job-queue-plugin/e2e/bullmq-job-queue-plugin.e2e-spec.ts
Due: none

fix(dashboard): Validate required args in ConfigurableOperationInput (#4202)
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-filters-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfill-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/components/payment-eligibility-checker-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/components/payment-handler-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/payment-methods_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_promotions/components/promotion-actions-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_promotions/components/promotion-conditions-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_promotions/promotions_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/shipping-calculator-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/shipping-eligibility-checker-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/shipping-methods_.$id.tsx
  packages/dashboard/src/lib/components/shared/configurable-operation-input.tsx
  packages/dashboard/src/lib/components/shared/configurable-operation-multi-selector.tsx
  packages/dashboard/src/lib/components/shared/configurable-operation-selector.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Use channel-aware cache keys for active tax zone
  packages/core/src/common/constants.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.ts
  packages/core/src/service/helpers/product-price-applicator/product-price-applicator.spec.ts
  packages/core/src/service/helpers/product-price-applicator/product-price-applicator.ts
  packages/core/src/service/services/order.service.ts
Due: none

fix(dashboard): Transform relation custom fields to use Id/Ids suffix
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-line-custom-fields-form.tsx
  packages/dashboard/src/lib/lib/utils.spec.ts
  packages/dashboard/src/lib/lib/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(core): Add ChannelRole entity and RolePermissionResolverStrategy
  packages/common/src/generated-types.ts
  packages/core/e2e/channel-role.e2e-spec.ts
  packages/core/src/api/api-internal-modules.ts
  packages/core/src/api/resolvers/admin/administrator.resolver.ts
  packages/core/src/api/resolvers/admin/global-settings.resolver.ts
  packages/core/src/api/resolvers/base/base-auth.resolver.ts
  packages/core/src/api/resolvers/entity/user-entity.resolver.ts
  packages/core/src/api/schema/admin-api/administrator.api.graphql
  packages/core/src/api/schema/admin-api/channel-role.type.graphql
  packages/core/src/api/schema/admin-api/global-settings.type.graphql
  packages/core/src/config/config.module.ts
  packages/core/src/config/custom-field/custom-field-types.ts
  packages/core/src/config/default-config.ts
  packages/core/src/config/index.ts
  packages/core/src/config/role-permission-resolver/channel-role-permission-resolver-strategy.ts
  packages/core/src/config/role-permission-resolver/default-role-permission-resolver-strategy.ts
  packages/core/src/config/role-permission-resolver/role-permission-resolver-strategy.ts
  packages/core/src/config/vendure-config.ts
  packages/core/src/entity/custom-entity-fields.ts
  packages/core/src/entity/entities.ts
  packages/core/src/entity/index.ts
  packages/core/src/entity/role/channel-role.entity.ts
  packages/core/src/event-bus/events/administrator-event.ts
  packages/core/src/service/helpers/request-context/request-context.service.ts
  packages/core/src/service/index.ts
  packages/core/src/service/service.module.ts
  packages/core/src/service/services/administrator.service.ts
  packages/core/src/service/services/channel-role.service.ts
  packages/core/src/service/services/role.service.ts
  packages/core/src/service/services/session.service.ts
  packages/dashboard/src/app/routes/_authenticated/_administrators/administrators.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_administrators/administrators_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_administrators/components/channel-role-assignment.tsx
  packages/dashboard/src/app/routes/_authenticated/_administrators/components/role-permissions-display.tsx
  packages/dashboard/src/lib/providers/server-config.tsx
  packages/dev-server/dev-config.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix channel role assignment bugs
  packages/dashboard/src/app/routes/_authenticated/_administrators/administrators_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_administrators/components/channel-role-assignment.tsx
  packages/dashboard/src/app/routes/_authenticated/_administrators/components/role-permissions-display.tsx
  packages/dashboard/src/lib/providers/channel-provider.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix deleteMutation crash in extension page blocks
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(core): Fix CI failures for channel-role feature branch
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/admin-ui/src/lib/core/src/common/introspection-result.ts
  packages/asset-server-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/__data__/.gitkeep
  packages/core/e2e/channel-role.e2e-spec.ts
  packages/core/e2e/graphql/graphql-env-admin.d.ts
  packages/core/src/config/role-permission-resolver/default-role-permission-resolver-strategy.ts
  packages/dashboard/src/app/routes/_authenticated/_administrators/administrators_.$id.tsx
  packages/dashboard/src/lib/graphql/graphql-env.d.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-admin.d.ts
  schema-admin.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Return null for nullable non-string field defaults
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.ts
  packages/dashboard/src/lib/framework/form-engine/use-generated-form.tsx
  packages/dashboard/src/lib/framework/form-engine/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Refresh order entity and history after all mutations
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Persist customFields in updateGlobalSettings mutation
  packages/core/src/service/services/global-settings.service.ts
Due: none

fix(dashboard): Prevent accidental line removal when editing draft order quantity
  packages/dashboard/src/app/routes/_authenticated/_orders/components/edit-order-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(docs): Update @vendure-io/docs-provider to 0.10.1
  docs/package-lock.json
Due: none

fix(dashboard): Add "Remove from group" bulk action to customer group members table
  packages/dashboard/src/app/routes/_authenticated/_customer-groups/components/customer-group-members-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_customer-groups/components/customer-group-members-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: Restore code examples to core-concepts pages
  docs/docs/guides/core-concepts/auth/index.mdx
  docs/docs/guides/core-concepts/collections/index.mdx
  docs/docs/guides/core-concepts/money/index.mdx
  docs/docs/guides/core-concepts/orders/index.mdx
  docs/docs/guides/core-concepts/payment/index.mdx
  docs/docs/guides/core-concepts/promotions/index.mdx
  docs/docs/guides/core-concepts/shipping/index.mdx
  docs/docs/guides/core-concepts/stock-control/index.mdx
  docs/docs/guides/core-concepts/taxes/index.mdx
Due: none

docs: Add new core-concepts pages and reorganize sidebar
  docs/docs/guides/core-concepts/cart/index.mdx
  docs/docs/guides/core-concepts/customers/index.mdx
  docs/docs/guides/core-concepts/facets-filters/index.mdx
  docs/docs/guides/core-concepts/fulfillment/index.mdx
  docs/docs/guides/core-concepts/healthchecks/index.mdx
  docs/docs/guides/core-concepts/images-assets/index.mdx
  docs/docs/guides/core-concepts/job-queue/index.mdx
  docs/docs/guides/core-concepts/language/index.mdx
  docs/docs/guides/core-concepts/permissions/index.mdx
  docs/docs/guides/core-concepts/pricing/index.mdx
  docs/docs/guides/core-concepts/products/index.mdx
  docs/docs/guides/core-concepts/roles/index.mdx
  docs/docs/guides/core-concepts/search/index.mdx
  docs/docs/guides/core-concepts/user-management/index.mdx
  docs/docs/guides/core-concepts/zones/index.mdx
  docs/src/manifest.ts
Due: none

docs: Add core-concepts overview page with link cards
  docs/docs/guides/core-concepts/index.mdx
  docs/src/manifest.ts
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
