Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "admin-ui/**/*.html": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "packages/!(admin-ui|dev-server)/**/*.ts": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/**/*.{ts,tsx}": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/src/lib/**/use-*.{ts,tsx}": ["node packages/dashboard/scripts/check-lib-imports.js"]
}

refactor(dashboard): Simplify RefundOrderDialog with hook and i18n
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Initialize refund dialog state in controlled mode
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Use placeholder for refund quantity input
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Adjust job queue polling start time to include jobs created in the last 5 seconds
  packages/dashboard/src/lib/hooks/use-job-queue-polling.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

refactor(dashboard): Add open state to useRefundOrder for initialization
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Simplify RefundOrderDialog to always-controlled
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test: Make sure fake_node_modules for pnpm tests are not gitignored
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/.gitignore
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/fake_node_modules/.pnpm/test-plugin@1.0.0/node_modules/test-plugin/index.js
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/fake_node_modules/.pnpm/test-plugin@1.0.0/node_modules/test-plugin/package.json
Due: none

fix(dashboard): Move useState before early return to fix Rules of Hooks
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Exclude pnpm in ignore path of plugin discovery helper
  packages/dashboard/vite/utils/plugin-discovery.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Dashboard plugin detection with pnpm (#4126)
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/.gitignore
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/fake_node_modules/.pnpm/test-plugin@1.0.0/node_modules/test-plugin/index.js
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/fake_node_modules/.pnpm/test-plugin@1.0.0/node_modules/test-plugin/package.json
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/fake_node_modules/test-plugin
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/package.json
  packages/dashboard/vite/tests/fixtures-pnpm-plugin/vendure-config.ts
  packages/dashboard/vite/tests/pnpm-plugin.spec.ts
  packages/dashboard/vite/utils/plugin-discovery.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(payments-plugin): Allow forcefully updating payment status in case webhooks are delayed (#4104)
  packages/payments-plugin/e2e/graphql/admin-queries.ts
  packages/payments-plugin/e2e/graphql/shared-definitions.ts
  packages/payments-plugin/e2e/mollie-dev-server.ts
  packages/payments-plugin/e2e/mollie-payment.e2e-spec.ts
  packages/payments-plugin/src/mollie/api-extensions.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/mollie.common-resolver.ts
  packages/payments-plugin/src/mollie/mollie.controller.ts
  packages/payments-plugin/src/mollie/mollie.plugin.ts
  packages/payments-plugin/src/mollie/mollie.service.ts
Due: none

fix(dashboard): Handle partial refund failure and DRY reset logic
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix refund quantity input caret position
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix job queue polling restart on page refresh
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
  packages/dashboard/src/lib/hooks/use-job-queue-polling.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(core): Respect publishConfig.directory in npm publish workflow
  .github/workflows/publish_to_npm.yml
Due: none

feat: Implement productVariantCount in collections query
  package-lock.json
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/api/schema/common/collection.type.graphql
  packages/core/src/service/services/collection.service.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/graphql/graphql-env.d.ts
  packages/dev-server/graphql/graphql-env.d.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Fix admin-ui publish dir in npm publish workflow (#4131)
  .github/workflows/publish_to_npm.yml
Due: none

chore: Reset unnecessary file changes
  package-lock.json
Due: none

fix(dashboard): Require UpdateOrder perms on refund option
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Resolve tsconfig path aliases in ESM mode
  packages/dashboard/vite/tests/esm-path-alias.spec.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/my-plugin/index.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/my-plugin/src/dashboard/index.tsx
  packages/dashboard/vite/tests/fixtures-esm-path-alias/my-plugin/src/my.plugin.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/package.json
  packages/dashboard/vite/tests/fixtures-esm-path-alias/vendure-config.ts
  packages/dashboard/vite/tests/tsconfig.json
  packages/dashboard/vite/utils/compiler.ts
  packages/dashboard/vite/utils/path-transformer.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Address SonarCloud code smells in path transformer
  packages/dashboard/vite/utils/path-transformer.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(core): Add failing test to check duplicate items in refund bug
  packages/core/e2e/graphql/shared-definitions.ts
  packages/core/e2e/order.e2e-spec.ts
Due: none

fix(dashboard): Use split/join instead of replaceAll for ES2020 compat
  packages/dashboard/vite/utils/path-transformer.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: Update claude.md
  CLAUDE.md
Due: none

refactor: Add request cache
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
  packages/core/src/service/services/collection.service.ts
Due: none

refactor: Move has field to shared utility
  packages/core/src/api/common/is-field-in-selection.ts
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
Due: none

fix(dashboard): Fix gross price display under price includes tax
  packages/dashboard/src/app/routes/_authenticated/_product-variants/components/variant-price-detail.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor: Reduce cognitive complexity of field identification
  packages/core/src/api/common/is-field-in-selection.ts
Due: none

fix(core): Normalize collection IDs to strings for Map key consistency
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/service/services/collection.service.ts
Due: none

fix(core): Improve productVariantCount batching and field detection
  packages/core/src/api/common/is-field-in-selection.spec.ts
  packages/core/src/api/common/is-field-in-selection.ts
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
  packages/core/src/common/constants.ts
Due: none

docs(docs): Update manifest ID to 'core' and add README
  docs/README.md
  docs/package.json
  docs/src/manifest.ts
Due: none

fix(docs): Stop encoding angle brackets in MDX type expressions
  scripts/docs/typescript-docs-renderer.ts
Due: none

fix(docs): Hide Legacy APIs and User Guide sections from navigation
  docs/src/manifest.ts
Due: none

feat(docs): Generate index files with LinkCards for API reference folders
  docs/docs/reference/admin-ui-api/index.mdx
  docs/docs/reference/core-plugins/index.mdx
  docs/docs/reference/dashboard/index.mdx
  docs/docs/reference/typescript-api/common/index.mdx
  docs/docs/reference/typescript-api/index.mdx
  docs/src/manifest.ts
  scripts/docs/typescript-docs-renderer.ts
Due: none

chore(docs): Update docs-provider to v0.5.0
  docs/package-lock.json
  docs/package.json
Due: none

chore: Regenerate GraphQL types
  packages/admin-ui/src/lib/core/src/common/introspection-result.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
Due: none

fix(payments-plugin): Simplified code and log warning instead of info
  packages/payments-plugin/e2e/mollie-payment.e2e-spec.ts
  packages/payments-plugin/src/mollie/mollie.plugin.ts
  packages/payments-plugin/src/mollie/mollie.service.ts
Due: none

fix(payments-plugin): Docs
  packages/payments-plugin/src/mollie/api-extensions.ts
Due: none
