Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(core): Use channel-aware cache keys for active tax zone (#4329)
  packages/core/src/common/constants.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.ts
  packages/core/src/service/helpers/product-price-applicator/product-price-applicator.spec.ts
  packages/core/src/service/helpers/product-price-applicator/product-price-applicator.ts
  packages/core/src/service/services/order.service.ts
Due: none

fix(dashboard): Refresh order entity and history after all mutations (#4338)
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Assert non-null value in deactivation tests to avoid false positives
  packages/core/e2e/promotion-side-effects.e2e-spec.ts
Due: none

test(core,elasticsearch-plugin): Reset channel tokens to prevent state leakage in e2e tests
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/elasticsearch-plugin/e2e/elasticsearch-plugin.e2e-spec.ts
Due: none

feat(core,job-queue-plugin): Add per-queue concurrency configuration (#4201)
  packages/core/e2e/job-queue-concurrency.e2e-spec.ts
  packages/core/src/job-queue/polling-job-queue-strategy.ts
  packages/core/src/plugin/default-job-queue-plugin/types.ts
  packages/job-queue-plugin/e2e/bullmq-job-queue-plugin.e2e-spec.ts
  packages/job-queue-plugin/src/bullmq/bullmq-job-queue-strategy.ts
  packages/job-queue-plugin/src/bullmq/types.ts
  packages/job-queue-plugin/src/pub-sub/options.ts
  packages/job-queue-plugin/src/pub-sub/pub-sub-job-queue-strategy.ts
Due: none

fix(core): Run promotion side effects before OrderLine save (#4350)
  packages/core/e2e/order-modification.e2e-spec.ts
  packages/core/e2e/promotion-side-effects.e2e-spec.ts
  packages/core/src/service/helpers/order-modifier/order-modifier.ts
  packages/core/src/service/services/order.service.ts
Due: none

fix(dashboard): Prevent duplicate option values in AddOptionValueDialog
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.variants.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Clear input when dialog opens
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-group-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Prevent duplicate option groups in product variants
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-group-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.variants.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Add ability to delete option groups from products
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.variants.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Remove unused useEffect from option group form
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.variants.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Remove redundant fallback for existing option values
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.variants.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashborad): Trim name before saving to avoid duplicate
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-group-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add bulk cancel action and human-readable duration to job queue
  packages/dashboard/src/app/routes/_authenticated/_system/components/cancel-jobs-bulk-action.tsx
  packages/dashboard/src/app/routes/_authenticated/_system/job-queue.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: Repalce promise.all with promise.settled
  packages/dashboard/src/app/routes/_authenticated/_system/components/cancel-jobs-bulk-action.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(create): Fix welcome message on create
  packages/create/src/create-vendure-app.ts
Due: none

fix(create): Fix welcome message on create (#4363)
  packages/create/src/create-vendure-app.ts
Due: none

chore(core): Update e2e tests to use gql.tada
  packages/core/e2e/promotion-side-effects.e2e-spec.ts
Due: none

chore: Update lockfile
  package-lock.json
Due: none

chore: Publish v3.5.4
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/admin-ui-plugin/package.json
  packages/admin-ui/package.json
  packages/admin-ui/src/lib/core/src/common/version.ts
  packages/asset-server-plugin/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dashboard/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
  packages/graphiql-plugin/package.json
  packages/harden-plugin/package.json
  packages/job-queue-plugin/package.json
  packages/payments-plugin/package.json
  packages/sentry-plugin/package.json
  packages/stellate-plugin/package.json
  packages/telemetry-plugin/package.json
  packages/testing/package.json
  packages/ui-devkit/package.json
Due: none

fix(core): Persist scalar custom fields in updateGlobalSettings with relations
  packages/core/e2e/custom-field-relations.e2e-spec.ts
  packages/core/src/service/services/global-settings.service.ts
Due: none

fix(core): Use tax-inclusive amount when cancelling shipping with pricesIncludeTax
  packages/core/e2e/order.e2e-spec.ts
  packages/core/src/service/helpers/order-modifier/order-modifier.ts
Due: none

fix(dashboard): Default non-scalar nullable fields to {} instead of null
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.ts
  packages/dashboard/src/lib/framework/form-engine/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Add tests for nullable non-scalar field defaults
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.spec.ts
  packages/dashboard/src/lib/framework/form-engine/utils.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Unfixme Playwright test for issue 4155
  packages/dashboard/e2e/tests/regression/issue-4155-nullable-custom-fields.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix: add entity to DetailPage
  packages/dashboard/src/lib/framework/page/detail-page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Handle JSON scalar type for customFields defaults
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Add test for JSON-typed customFields defaults
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Add toBeEnabled wait in e2e test for form validation settle
  packages/dashboard/e2e/tests/regression/issue-4155-nullable-custom-fields.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(cli): Fix crash when cancelling follow-up feature selection during plugin creation
  packages/cli/src/commands/add/plugin/create-new-plugin.spec.ts
  packages/cli/src/commands/add/plugin/create-new-plugin.ts
Due: none

fix(dashboard): Strip null nullable fields from create payloads
  packages/dashboard/src/lib/framework/form-engine/use-generated-form.tsx
  packages/dashboard/src/lib/framework/form-engine/utils.spec.ts
  packages/dashboard/src/lib/framework/form-engine/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(cli): Fix crash when cancelling follow-up feature selection during plugin creation (#4371)
  packages/cli/src/commands/add/plugin/create-new-plugin.spec.ts
  packages/cli/src/commands/add/plugin/create-new-plugin.ts
Due: none

test(dashboard): Add missing convertEmptyStringsToNull tests and fix comments
  packages/dashboard/e2e/tests/regression/issue-4155-nullable-custom-fields.spec.ts
  packages/dashboard/src/lib/framework/form-engine/utils.spec.ts
  packages/dashboard/src/lib/framework/form-engine/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(dashboard): Fix createMockField isScalar and add nullable scalar default tests
  packages/dashboard/e2e/tests/regression/issue-4155-nullable-custom-fields.spec.ts
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.spec.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Optimize list query builder for many custom fields
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
  packages/core/src/service/helpers/list-query-builder/parse-channel-param.spec.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.spec.ts
  packages/core/src/service/helpers/list-query-builder/parse-sort-params.spec.ts
Due: none

fix(core): optimize list query builder and update devDependencies
  packages/core/package.json
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
Due: none

fix: Clean package-lock.json and handle subquery fallback
  package-lock.json
  packages/core/package.json
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
Due: none

fix: Discounts visibility in order details table
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(core): Add configurable OrderTaxSummaryCalculationStrategy
  packages/core/src/config/config.module.ts
  packages/core/src/config/default-config.ts
  packages/core/src/config/index.ts
  packages/core/src/config/tax/default-order-tax-summary-calculation-strategy.ts
  packages/core/src/config/tax/order-level-tax-summary-calculation-strategy.ts
  packages/core/src/config/tax/order-tax-summary-calculation-strategy.spec.ts
  packages/core/src/config/tax/order-tax-summary-calculation-strategy.ts
  packages/core/src/config/vendure-config.ts
  packages/core/src/entity/order/order.entity.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.spec.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.ts
Due: none

chore(core): Revert accidentally changed @since version
  packages/core/src/config/vendure-config.ts
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
