Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "admin-ui/**/*.html": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "packages/!(admin-ui|dev-server)/**/*.ts": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/**/*.{ts,tsx}": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/src/lib/**/use-*.{ts,tsx}": ["node packages/dashboard/scripts/check-lib-imports.js"]
}

docs: Fix typo in plugins documentation
  docs/docs/guides/developer-guide/plugins/index.mdx
Due: none

fix(payments-plugin): Test cleanup
  packages/payments-plugin/e2e/mollie-payment.e2e-spec.ts
Due: none

fix(payments-plugin): Test cleanup doc
  packages/payments-plugin/e2e/mollie-payment.e2e-spec.ts
Due: none

fix(payments-plugin): Docs
  packages/payments-plugin/src/mollie/mollie.plugin.ts
Due: none

fix(docs): Improve GraphQL docs generation for MDX compatibility
  docs/docs/reference/graphql-api/admin/enums.mdx
  docs/docs/reference/graphql-api/admin/input-types.mdx
  docs/docs/reference/graphql-api/admin/mutations.mdx
  docs/docs/reference/graphql-api/admin/object-types.mdx
  docs/docs/reference/graphql-api/admin/queries.mdx
  docs/docs/reference/graphql-api/shop/enums.mdx
  docs/docs/reference/graphql-api/shop/input-types.mdx
  docs/docs/reference/graphql-api/shop/mutations.mdx
  docs/docs/reference/graphql-api/shop/object-types.mdx
  docs/docs/reference/graphql-api/shop/queries.mdx
  scripts/docs/generate-graphql-docs.ts
Due: none

fix(docs): Fix MDX parsing errors in generated docs
  docs/docs/guides/extending-the-dashboard/migration/index.mdx
  docs/docs/reference/admin-ui-api/directives/if-multichannel-directive.mdx
  docs/docs/reference/admin-ui-api/directives/if-permissions-directive.mdx
  docs/docs/reference/admin-ui-api/ui-devkit/admin-ui-extension.mdx
  docs/docs/reference/core-plugins/email-plugin/email-plugin-options.mdx
  docs/docs/reference/dashboard/components/vendure-image.mdx
  docs/docs/reference/dashboard/page-layout/page.mdx
  docs/docs/reference/typescript-api/configuration/runtime-vendure-config.mdx
  docs/docs/reference/typescript-api/data-access/get-entity-or-throw-options.mdx
  docs/package-lock.json
  docs/package.json
  scripts/docs/typescript-docs-renderer.ts
Due: none

chore(docs): Add MDX testing utilities
  docs/CLAUDE.md
  docs/package-lock.json
  docs/package.json
  docs/scripts/test-mdx.ts
Due: none

fix(docs): Fix MDX parsing errors in generated API docs
  docs/CLAUDE.md
  docs/docs/reference/admin-ui-api/bulk-actions/bulk-action.mdx
  docs/docs/reference/admin-ui-api/components/asset-picker-dialog-component.mdx
  docs/docs/reference/admin-ui-api/directives/if-permissions-directive.mdx
  docs/docs/reference/admin-ui-api/list-detail-views/typed-base-detail-component.mdx
  docs/docs/reference/admin-ui-api/list-detail-views/typed-base-list-component.mdx
  docs/docs/reference/core-plugins/email-plugin/email-event-handler-with-async-data.mdx
  docs/docs/reference/core-plugins/email-plugin/email-plugin-options.mdx
  docs/docs/reference/graphql-api/admin/_index.mdx
  docs/docs/reference/graphql-api/shop/_index.mdx
  docs/docs/reference/typescript-api/auth/native-authentication-strategy.mdx
  docs/docs/reference/typescript-api/configuration/collection-filter.mdx
  docs/docs/reference/typescript-api/configuration/entity-duplicator.mdx
  docs/docs/reference/typescript-api/configuration/entity-id-strategy.mdx
  docs/docs/reference/typescript-api/events/event-types.mdx
  docs/docs/reference/typescript-api/fulfillment/fulfillment-handler.mdx
  docs/docs/reference/typescript-api/job-queue/subscribable-job.mdx
  docs/docs/reference/typescript-api/payment/payment-method-config-options.mdx
  docs/docs/reference/typescript-api/payment/payment-method-eligibility-checker.mdx
  docs/docs/reference/typescript-api/payment/payment-method-handler.mdx
  docs/docs/reference/typescript-api/promotions/promotion-action.mdx
  docs/docs/reference/typescript-api/promotions/promotion-condition.mdx
  docs/docs/reference/typescript-api/request/request-context.mdx
  docs/docs/reference/typescript-api/shipping/shipping-calculator.mdx
  docs/docs/reference/typescript-api/shipping/shipping-eligibility-checker-config.mdx
  docs/docs/reference/typescript-api/shipping/shipping-eligibility-checker.mdx
  scripts/docs/generate-graphql-docs.ts
  scripts/docs/typescript-docs-renderer.ts
Due: none

feat(docs): Add last-modified dates to documentation pages
  docs/.gitignore
  docs/package-lock.json
  docs/package.json
  docs/scripts/generate-dates.ts
  docs/scripts/test-mdx.ts
  docs/src/manifest.ts
Due: none

fix(dashboard): Register text-form-input component
  packages/dashboard/src/lib/framework/extension-api/input-component-extensions.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Hide bulk action bar when no selected items are visible
  packages/dashboard/src/lib/components/data-table/data-table-bulk-actions.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Override Radix UI dialog width for RefundOrderDialog
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Move use-modify-order hook to hooks directory
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-modify-order.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.$id_.modify.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/order-utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix import path in use-modify-order after move
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-modify-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Consolidate refund payment utilities into refund-utils
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/get-refundable-payments.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/refund-utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Make RefundOrderDialog uncontrolled like other dialogs
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Bump @tanstack/react-router to 1.154.0
  package-lock.json
  packages/dashboard/package.json
Due: none

fix(dashboard): Restore refund option to dropdown and fix dialog close button
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/refund-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix FulfillOrderDialog close button
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfill-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add pagination for sub-collections in collection list
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Bump @tanstack/react-router to fix ID param error (#4153)
  package-lock.json
  packages/dashboard/package.json
Due: none

fix(dashboard): Hide bulk action bar when no selected items are visible (#4151)
  packages/dashboard/src/lib/components/data-table/data-table-bulk-actions.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(payments-plugin): Mollie - allow overriding `immediateCapture` from the plugin level (#4142)
  packages/payments-plugin/e2e/mollie-payment.e2e-spec.ts
  packages/payments-plugin/src/mollie/api-extensions.ts
  packages/payments-plugin/src/mollie/mollie.plugin.ts
  packages/payments-plugin/src/mollie/mollie.service.ts
Due: none

fix(dashboard): Resolve tsconfig path aliases in ESM mode (#4134)
  packages/dashboard/vite/tests/esm-path-alias.spec.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/my-plugin/index.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/my-plugin/src/dashboard/index.tsx
  packages/dashboard/vite/tests/fixtures-esm-path-alias/my-plugin/src/my.plugin.ts
  packages/dashboard/vite/tests/fixtures-esm-path-alias/package.json
  packages/dashboard/vite/tests/fixtures-esm-path-alias/vendure-config.ts
  packages/dashboard/vite/tests/tsconfig.json
  packages/dashboard/vite/utils/compiler.ts
  packages/dashboard/vite/utils/path-transformer.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

perf(core): Implement productVariantCount in collections query (#4132)
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/common/is-field-in-selection.spec.ts
  packages/core/src/api/common/is-field-in-selection.ts
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
  packages/core/src/api/schema/common/collection.type.graphql
  packages/core/src/common/constants.ts
  packages/core/src/service/services/collection.service.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/graphql/graphql-env.d.ts
  packages/dev-server/graphql/graphql-env.d.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: Fix typo in plugins documentation (#4145)
  docs/docs/guides/developer-guide/plugins/index.mdx
Due: none

fix(dashboard): Preserve string arg values without JSON parsing in form inputs
  packages/dashboard/src/lib/components/data-input/text-input.tsx
  packages/dashboard/src/lib/framework/form-engine/value-transformers.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Adjust string value handling to exclude list fields from JSON parsing
  packages/dashboard/src/lib/framework/form-engine/value-transformers.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Implement PR feedback
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/data-table-utils.ts
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Register text-form-input component (#4149)
  packages/dashboard/src/lib/framework/extension-api/input-component-extensions.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix entity creation when using a non default language
  packages/dashboard/src/lib/framework/form-engine/use-generated-form.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Preserve string arg values without JSON parsing in form inputs (#4156)
  packages/dashboard/src/lib/components/data-input/text-input.tsx
  packages/dashboard/src/lib/framework/form-engine/value-transformers.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Wrap pickProps in arrow function for .map() call
  packages/core/src/service/services/collection.service.ts
Due: none

fix(dashboard): Fix ambiguous export of ActionBarItem
  packages/dashboard/src/lib/framework/layout-engine/page-layout.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(job-queue-plugin): Update bullmq/ioredis version
  package-lock.json
  packages/job-queue-plugin/package.json
Due: none
