Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "admin-ui/**/*.html": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "packages/!(admin-ui|dev-server)/**/*.ts": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/**/*.{ts,tsx}": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/src/lib/**/use-*.{ts,tsx}": ["node packages/dashboard/scripts/check-lib-imports.js"]
}

fix(elasticsearch-plugin): Fix array ordering in collection tests for cross-DB compatibility
  packages/elasticsearch-plugin/e2e/elasticsearch-plugin.e2e-spec.ts
Due: none

chore: Regenerate GraphQL types after merge from minor
  packages/admin-ui/src/lib/core/src/common/introspection-result.ts
Due: none

fix(core): Fix coupon code removal not clearing adjustments
  packages/core/src/service/services/order.service.ts
Due: none

fix(core): Add readonly modifiers and improve exception handling
  packages/core/src/api/resolvers/entity/asset-entity.resolver.ts
  packages/core/src/service/helpers/utils/translate-entity.ts
  packages/core/src/service/services/asset.service.ts
Due: none

chore(core): Revert unintended api-key changes
  packages/core/src/api/resolvers/admin/api-key.resolver.ts
  packages/core/src/service/services/api-key.service.ts
Due: none

docs: Fix console block syntax in installation guide
  docs/docs/guides/getting-started/installation/index.mdx
Due: none

feat(dashboard): Improve product variant and optiongroup handling in product detail
  packages/dashboard/src/app/routeTree.gen.ts
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-value-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-product-variant-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/option-groups-editor.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/option-value-input.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.options.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.variants.tsx
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/ko.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/nl.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Add translations related to product options
  packages/dashboard/missing-translations.txt
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: none

fix(dashboard): Always display variant to be created
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Correctly display error in product option mutations
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.options.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Make variants assistant dialog scrollable
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

style(dashboard): Address SonarQube issues
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-value-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/option-groups-editor.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.options.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Update translations
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: none

style(dashboard): Address Coderabbit issues
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-value-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/option-groups-editor.tsx
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/ko.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/nl.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Fix linter issues
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-value-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/create-product-variants-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id_.options.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Use channel language code for new option values
  packages/dashboard/src/app/routes/_authenticated/_products/components/add-option-value-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(core): Add e2e tests for Asset translatable custom fields
  packages/core/e2e/asset-custom-fields.e2e-spec.ts
Due: none

fix(dashboard): Persistence of column states in product options and product variants table
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-options-table.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-variants-table.tsx
  packages/dashboard/src/lib/components/data-table/data-table-view-options.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Allow setting defaults for DataTable view options through Plugin Extension API
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/framework/data-table/data-table-extensions.ts
  packages/dashboard/src/lib/framework/extension-api/logic/data-table.ts
  packages/dashboard/src/lib/framework/extension-api/types/data-table.ts
  packages/dashboard/src/lib/framework/registry/registry-types.ts
  packages/dashboard/src/lib/hooks/use-view-option-defaults.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Validate required args in ConfigurableOperationInput
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfill-order-dialog.tsx
  packages/dashboard/src/lib/components/shared/configurable-operation-input.tsx
  packages/dashboard/src/lib/components/shared/configurable-operation-multi-selector.tsx
  packages/dashboard/src/lib/components/shared/configurable-operation-selector.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Improve required field validation and error visibility
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.spec.ts
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.ts
  packages/dashboard/vite/vite-plugin-theme.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Address code review feedback
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.ts
  packages/dashboard/vite/vite-plugin-theme.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Extract shared theme colors to reduce duplication
  packages/dashboard/vite/vite-plugin-theme.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

docs: Add missing user-guide pages to manifest
  docs/src/manifest.ts
Due: none

chore(dashboard): Address CodeRabbit feedback
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-options-table.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-variants-table.tsx
  packages/dashboard/src/lib/framework/data-table/data-table-extensions.ts
  packages/dashboard/src/lib/hooks/use-view-option-defaults.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

ci(docs): Trigger vendure-io update after docs publish
  .github/workflows/publish_docs.yml
Due: none

ci(docs): Use github.repository context variable
  .github/workflows/publish_docs.yml
Due: none

fix(dashboard): Integrate required args validation across all detail pages
  packages/dashboard/src/app/routes/_authenticated/_collections/collections_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-filters-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/components/payment-eligibility-checker-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/components/payment-handler-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/payment-methods_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_promotions/components/promotion-actions-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_promotions/components/promotion-conditions-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_promotions/promotions_.$id.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/shipping-calculator-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/shipping-eligibility-checker-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/shipping-methods_.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix validity tracking for multi-selector on operation removal
  packages/dashboard/src/lib/components/shared/configurable-operation-multi-selector.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

test(core): Add e2e tests for per-queue concurrency feature
  packages/core/e2e/job-queue-concurrency.e2e-spec.ts
Due: none

feat(core,job-queue-plugin): Add per-queue concurrency configuration
  packages/core/src/job-queue/polling-job-queue-strategy.ts
  packages/core/src/plugin/default-job-queue-plugin/types.ts
  packages/job-queue-plugin/src/bullmq/bullmq-job-queue-strategy.ts
  packages/job-queue-plugin/src/bullmq/types.ts
  packages/job-queue-plugin/src/pub-sub/options.ts
  packages/job-queue-plugin/src/pub-sub/pub-sub-job-queue-strategy.ts
Due: none

docs(job-queue-plugin): Clarify BullMQ per-queue concurrency behavior
  packages/job-queue-plugin/src/bullmq/bullmq-job-queue-strategy.ts
  packages/job-queue-plugin/src/bullmq/types.ts
Due: none

docs: Update docs-provider to 0.10.0 and use runAllTests
  docs/package-lock.json
  docs/package.json
  docs/scripts/test-mdx.ts
Due: none

fix(job-queue-plugin): Prevent duplicate cancellation subscriptions
  packages/job-queue-plugin/src/bullmq/bullmq-job-queue-strategy.ts
Due: none

feat(event-bus): Add BootstrappedEvent and publish on app startup (#4203)
  packages/core/src/bootstrap.ts
  packages/core/src/event-bus/events/bootstrapped-event.ts
Due: none

docs: Update BootstrappedEvent version to 3.5.4
  packages/core/src/event-bus/events/bootstrapped-event.ts
Due: none

docs: Add BootstrappedEvent to event types reference
  docs/docs/guides/developer-guide/events/index.mdx
Due: none
