Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "admin-ui/**/*.html": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "packages/!(admin-ui|dev-server)/**/*.ts": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/**/*.{ts,tsx}": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/src/lib/**/use-*.{ts,tsx}": ["node packages/dashboard/scripts/check-lib-imports.js"]
}

feat: Fix biome rule
  biome.json
Due: none

fix: Allign biome rules with repo
  biome.json
Due: none

feat: Enable lerna cache
  lerna.json
  nx.json
Due: none

feat: Granulate namedInputs and enable caching for tests and lint
  nx.json
Due: none

chore: Update gitignore
  .gitignore
Due: none

fix: Configure build caches
  .github/workflows/build_and_test.yml
  nx.json
Due: none

feat(core): Introduce `lastUsedAtUpdateInterval` to allow reducing db writes
  packages/core/src/api/middleware/auth-guard.ts
  packages/core/src/config/api-key-strategy/api-key-strategy.ts
  packages/core/src/config/api-key-strategy/random-bytes-api-key-strategy.ts
Due: none

chore: Regenerate types
  packages/asset-server-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/asset-server-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/core/e2e/graphql/graphql-env-admin.d.ts
  packages/core/e2e/graphql/graphql-env-shop.d.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-shop.d.ts
  schema-admin.json
  schema-shop.json
Due: none

test(core): Update API-Key e2e tests to use gql.tada
  packages/core/e2e/api-key.e2e-spec.ts
Due: none

chore: Try figure out server smoke tests
  packages/core/src/api/common/extract-session-token.ts
Due: none

chore: Update comment for server smoke test workaround
  packages/core/src/api/common/extract-session-token.ts
Due: none

feat(core): Add set order currency code mutation
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/src/api/resolvers/shop/shop-order.resolver.ts
  packages/core/src/api/schema/common/history-entry.type.graphql
  packages/core/src/api/schema/shop-api/shop.api.graphql
  packages/core/src/service/services/history.service.ts
  packages/core/src/service/services/order.service.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: none

feat(core): Add e2e tests for set currency code
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/graphql/shop-definitions.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
Due: none

Add Smithery badge
  README.md
Due: none

feat(dashboard): Implement dragging to reorder collections
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections-draggable.example.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/collections-old.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.graphql.ts
  packages/dashboard/src/lib/components/data-table/draggable-data-table.tsx
  packages/dashboard/src/lib/components/shared/draggable-paginated-list-data-table.tsx
  packages/dashboard/src/lib/components/ui/alert.tsx
  packages/dashboard/src/lib/framework/page/draggable-list-page.tsx
  packages/dashboard/src/lib/index.ts
  packages/dev-server/graphql/graphql-env.d.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): PR cleanup
  packages/dashboard/src/app/routes/_authenticated/_collections/collections-draggable.example.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/collections-old.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/draggable-data-table.tsx
  packages/dashboard/src/lib/components/shared/draggable-paginated-list-data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Consolidate components
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/data-table.tsx
  packages/dashboard/src/lib/components/data-table/draggable-data-table.tsx
  packages/dashboard/src/lib/components/shared/draggable-paginated-list-data-table.tsx
  packages/dashboard/src/lib/framework/page/draggable-list-page.tsx
  packages/dashboard/src/lib/framework/page/list-page.tsx
  packages/dashboard/src/lib/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Fix state error
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Remove unused component
  packages/dashboard/src/lib/components/shared/draggable-paginated-list-data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Sonarqube feedback
  packages/dashboard/src/lib/components/shared/draggable-paginated-list-data-table.tsx
  packages/dashboard/src/lib/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Remove duplication
  packages/dashboard/src/lib/components/shared/draggable-paginated-list-data-table.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/framework/page/list-page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Implement sonarqube feedback
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Pin @lingui/swc-plugin version to fix compilation issue
  package-lock.json
  packages/dashboard/package.json
Due: none

refactor(dashboard): Remove unnecessary changes
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: none

fix(dashboard): Remove unnecessary changes for draggable table (#4038)
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: none

refactor(dashboard): Remove unnecessary changes
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
Due: none

docs: Use web app instead of Angular app
  docs/docs/guides/deployment/deploying-admin-ui.md
Due: none

fix(dashboard): Move shared config for global-languages to reuse (#4024)
  packages/dashboard/src/app/routes/_authenticated/_global-settings/global-settings.tsx
  packages/dashboard/src/lib/components/layout/manage-languages-dialog.tsx
  packages/dashboard/src/lib/utils/global-languages.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Reset table after move upwards
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/move-collections-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

perf(core): Fix slow queries when entities have self-referencing relations (#4020)
  packages/core/src/service/helpers/utils/tree-relations-qb-joiner.ts
Due: none

refactor(dashboard): Remove unnecessary assertion
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-bulk-actions.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Remove unnecessary assertion (#4040)
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-bulk-actions.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(asset-server-plugin): Allow specifying encoding for AssetStorageStrategy (#3926)
  docs/docs/reference/core-plugins/asset-server-plugin/local-asset-storage-strategy.md
  docs/docs/reference/typescript-api/assets/asset-storage-strategy.md
  packages/asset-server-plugin/src/config/local-asset-storage-strategy.ts
  packages/core/src/config/asset-storage-strategy/asset-storage-strategy.ts
Due: none

chore: Update Google pub-sub library
  package-lock.json
  packages/job-queue-plugin/package.json
  packages/job-queue-plugin/src/pub-sub/pub-sub-job-queue-strategy.ts
Due: none

fix(dashboard): Fix remaining tsc errors
  packages/dashboard/src/app/routes/_authenticated/_facets/components/edit-facet-value.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/edit-order-table.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-address.tsx
  packages/dashboard/src/lib/components/shared/custom-fields-form.tsx
  packages/dashboard/src/lib/components/ui/input-group.tsx
  packages/dashboard/src/lib/components/ui/input.tsx
  packages/dashboard/src/lib/framework/component-registry/component-registry.tsx
  packages/dashboard/src/lib/framework/extension-api/display-component-extensions.tsx
  packages/dashboard/src/lib/framework/extension-api/logic/detail-forms.ts
  packages/dashboard/src/lib/framework/extension-api/types/data-table.ts
  packages/dashboard/src/lib/framework/extension-api/types/navigation.ts
  packages/dashboard/src/lib/framework/form-engine/use-generated-form.tsx
  packages/dashboard/src/lib/framework/layout-engine/page-layout.tsx
  packages/dashboard/src/lib/framework/page/detail-page-route-loader.tsx
  packages/dashboard/src/lib/framework/page/page-api.ts
  packages/dashboard/src/lib/framework/page/use-detail-page.ts
  packages/dashboard/src/lib/framework/page/use-extended-router.tsx
  packages/dashboard/src/lib/framework/registry/registry-types.ts
  packages/dashboard/src/lib/graphql/graphql-env.d.ts
  packages/dashboard/src/lib/providers/channel-provider.tsx
  packages/dashboard/tsconfig.check.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

chore(dashboard): Add type check step to build script
  packages/dashboard/package.json
Due: none

chore(dashboard): Fix some sonar issues
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-address.tsx
  packages/dashboard/src/lib/components/data-input/struct-form-input.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Fix runtime issues
  packages/dashboard/src/app/routes/_authenticated/_products/products.graphql.ts
  packages/dashboard/src/lib/components/ui/input.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
