Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(job-queue-plugin): Upgrade @google-cloud/pubsub to fix protobufjs vulnerability (#4042)
  package-lock.json
  packages/job-queue-plugin/package.json
  packages/job-queue-plugin/src/pub-sub/pub-sub-job-queue-strategy.ts
Due: none

fix(dashboard): Localize decimal inputs via shared number input
  packages/dashboard/src/app/routes/_authenticated/_tax-rates/tax-rates_.$id.tsx
  packages/dashboard/src/lib/components/data-input/number-input.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Add generated route tree to vcs
  packages/dashboard/.gitignore
  packages/dashboard/src/app/routeTree.gen.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(elasticsearch-plugin): Fix merge issue
  packages/elasticsearch-plugin/e2e/e2e-helpers.ts
Due: none

chore(core): Fix zone e2e tests
  packages/core/e2e/zone.e2e-spec.ts
Due: none

feat(dashboard): Add Bulgarian (bg) translation for the Dashboard (#4001)
  packages/dashboard/lingui.config.js
  packages/dashboard/plugin/constants.ts
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/vite/constants.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix custom icons in data table faceted filters (#3998)
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Implement hierarchical drag and drop
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/data-table-utils.ts
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add surcharge functionality to order modification page
  packages/dashboard/src/app/routes/_authenticated/_orders/components/add-surcharge-form.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-modification-summary.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.$id_.modify.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/use-modify-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add note functionality to order modification page
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-modification-summary.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.$id_.modify.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/use-modify-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Enhance surcharge form with tax rate input and switch for tax inclusion
  packages/dashboard/src/app/routes/_authenticated/_orders/components/add-surcharge-form.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(elasticsearch-plugin): Update the ElasticSearch plugin to use ElasticSearch v9.1.0 (#3740)
  .github/workflows/build_and_test.yml
  docker-compose.yml
  packages/create/templates/docker-compose.hbs
  packages/elasticsearch-plugin/e2e/e2e-helpers.ts
  packages/elasticsearch-plugin/package.json
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/indexing/indexer.controller.ts
  packages/elasticsearch-plugin/src/indexing/indexing-utils.ts
  packages/elasticsearch-plugin/src/plugin.ts
Due: none

fix(dashboard): Update surcharge form to allow null tax rate and adjust modification summary logic
  packages/dashboard/src/app/routes/_authenticated/_orders/components/add-surcharge-form.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-modification-summary.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Update surcharge list item keys for better uniqueness
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-modification-summary.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Use null instead of undefined when clearing single relation selector
  packages/dashboard/src/lib/components/data-input/relation-input.tsx
  packages/dashboard/src/lib/components/data-input/relation-selector.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(core): Use JSON scalar for customFields input when only relation fields exist
  packages/core/src/api/config/__snapshots__/graphql-custom-fields.spec.ts.snap
  packages/core/src/api/config/graphql-custom-fields.spec.ts
  packages/core/src/api/config/graphql-custom-fields.ts
Due: none

docs: Fix typo
  docs/docs/user-guide/promotions/index.md
Due: none

feat(dashboard): Allow better control over ActionBar items
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id.tsx
  packages/dashboard/src/lib/framework/extension-api/types/layout.ts
  packages/dashboard/src/lib/framework/layout-engine/action-bar-item-wrapper.tsx
  packages/dashboard/src/lib/framework/layout-engine/page-layout.tsx
  packages/dashboard/src/lib/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Simplify ActionBar and deprecate unnecessary components
  packages/dashboard/src/lib/framework/layout-engine/page-layout.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Improve styling of dev mode button
  packages/dashboard/src/lib/components/data-table/column-header-wrapper.tsx
  packages/dashboard/src/lib/components/layout/nav-item-wrapper.tsx
  packages/dashboard/src/lib/framework/layout-engine/action-bar-item-wrapper.tsx
  packages/dashboard/src/lib/framework/layout-engine/dev-mode-button.tsx
  packages/dashboard/src/lib/framework/layout-engine/location-wrapper.tsx
  packages/dashboard/src/lib/framework/layout-engine/page-layout.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(core): Update order e2e test to follow the best practice
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/graphql/shop-definitions.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/core/src/api/schema/shop-api/shop.api.graphql
  packages/core/src/service/services/history.service.ts
  packages/core/src/service/services/order.service.ts
Due: none

test(core): Delete leftover code
  packages/core/e2e/order.e2e-spec.ts
Due: none

fix(dashboard): Set default tax rate to 0 in surcharge form
  packages/dashboard/src/app/routes/_authenticated/_orders/components/add-surcharge-form.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Integrate Form component into surcharge form and enhance validation rules
  packages/dashboard/src/app/routes/_authenticated/_orders/components/add-surcharge-form.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Use ActionBarItem on asset gallery
  packages/dashboard/src/lib/components/shared/asset/asset-gallery.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(dashboard): Update icons for dev mode
  packages/dashboard/src/lib/components/layout/dev-mode-indicator.tsx
  packages/dashboard/src/lib/framework/layout-engine/dev-mode-button.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

refactor(core): Fix typos in order e2e test
  packages/core/e2e/order.e2e-spec.ts
Due: none

docs: Update docs and examples of action bar items
  docs/docs/guides/extending-the-dashboard/creating-pages/detail-pages.md
  docs/docs/guides/extending-the-dashboard/creating-pages/list-pages.md
  docs/docs/guides/extending-the-dashboard/customizing-pages/action-bar-items.md
  packages/dev-server/test-plugins/reviews/dashboard/index.tsx
  packages/dev-server/test-plugins/reviews/dashboard/review-list.tsx
Due: none

feat(dashboard): Add surcharge functionality to order modification page (#4044)
  packages/dashboard/src/app/routes/_authenticated/_orders/components/add-surcharge-form.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-modification-summary.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.$id_.modify.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/use-modify-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(elasticsearch-plugin): Clean up changes for new ES version
  package-lock.json
  packages/elasticsearch-plugin/src/api/api-extensions.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/indexing/indexer.controller.ts
  packages/elasticsearch-plugin/src/plugin.ts
Due: none

chore: Fix publish_minor workflow
  .github/workflows/publish_minor_to_npm.yml
Due: none

chore(dashboard): Fix doc block
  packages/dashboard/src/lib/framework/extension-api/types/layout.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: Configure trusted publishing for minor tag
  .github/workflows/publish_minor_to_npm.yml
Due: none

chore: Small changes to trusted publishing config
  .github/workflows/publish_minor_to_npm.yml
  packages/cli/package.json
  packages/core/package.json
  packages/dev-server/test-plugins/reviews/package.json
Due: none

chore(dashboard): Fix tsc error in build
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfill-order-dialog.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(create): Fix root package.json scripts
  packages/create/templates/monorepo/root-package.json.hbs
Due: none

chore(dashboard): Fix tsc error in build
  packages/dashboard/src/lib/hooks/use-permissions.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
