Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "admin-ui/**/*.html": ["biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"],
  "packages/!(admin-ui|dev-server)/**/*.ts": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/**/*.{ts,tsx}": [
    "biome check --write --files-ignore-unknown=true --no-errors-on-unmatched"
  ],
  "packages/dashboard/src/lib/**/use-*.{ts,tsx}": ["node packages/dashboard/scripts/check-lib-imports.js"]
}

chore: Fix e2e test that was broken in merge
  packages/core/e2e/shop-order.e2e-spec.ts
Due: none

chore: Fix Mollie e2e tests
  packages/payments-plugin/e2e/mollie-payment.e2e-spec.ts
Due: none

chore: Update codegen
  packages/asset-server-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/asset-server-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/core/e2e/graphql/graphql-env-admin.d.ts
  packages/core/e2e/graphql/graphql-env-shop.d.ts
  packages/dashboard/src/app/routeTree.gen.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/elasticsearch-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-admin.d.ts
  packages/payments-plugin/e2e/graphql/graphql-env-shop.d.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Show all items in the order details page, clean up fulfillment screen.
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfill-order-dialog.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add configurable refund reasons to orders config
  packages/dashboard/src/lib/virtual.d.ts
  packages/dashboard/vite/utils/ui-config.ts
  packages/dashboard/vite/vite-plugin-ui-config.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Localize 'Unknown error' fallback in useRefundOrder
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Disable refund submit when validation errors exist
  packages/dashboard/src/app/routes/_authenticated/_orders/hooks/use-refund-order.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix usePaginatedList context duplication in extensions
  packages/dashboard/src/app/common/delete-bulk-action.tsx
  packages/dashboard/src/app/common/duplicate-bulk-action.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_product-variants/components/product-variant-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-bulk-actions.tsx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-bulk-action.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-context.ts
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/components/shared/remove-from-channel-bulk-action.tsx
  packages/dashboard/src/lib/hooks/use-paginated-list.ts
  packages/dashboard/src/lib/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Clarify draft order completion UX and add ar translations
  packages/dashboard/missing-translations.txt
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.draft.$id.tsx
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Add lint rule for React Context patterns and fix remaining issues
  packages/dashboard/scripts/check-lib-imports.js
  packages/dashboard/src/lib/components/data-table/data-table-context.tsx
  packages/dashboard/src/lib/components/data-table/global-views-bar.tsx
  packages/dashboard/src/lib/components/data-table/my-views-button.tsx
  packages/dashboard/src/lib/components/data-table/save-view-button.tsx
  packages/dashboard/src/lib/components/data-table/views-sheet.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/base-widget.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/latest-orders-widget/index.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/metrics-widget/chart.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/metrics-widget/index.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/orders-summary/index.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/widget-filters-context.tsx
  packages/dashboard/src/lib/hooks/use-alerts-context.ts
  packages/dashboard/src/lib/hooks/use-alerts.ts
  packages/dashboard/src/lib/hooks/use-data-table-context.ts
  packages/dashboard/src/lib/hooks/use-widget-dimensions.ts
  packages/dashboard/src/lib/hooks/use-widget-filters.ts
  packages/dashboard/src/lib/index.ts
  packages/dashboard/src/lib/providers/alerts-provider.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

docs(dashboard): Add CLAUDE.md explaining React Context pattern for extensions
  packages/dashboard/CLAUDE.md
Due: none

fix(dashboard): Run context pattern lint on all lib files, not just hooks
  .lintstagedrc.json
Due: none

fix(dashboard): Fix entity creation when using a non default language (#4157)
  packages/dashboard/src/lib/framework/form-engine/use-generated-form.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

chore: Add Claude Code rules for dashboard i18n
  .claude/rules/dashboard.md
Due: none

chore: Add Claude Code rules for dashboard i18n (#4166)
  .claude/rules/dashboard.md
Due: none

fix(dashboard): Fix gross price display under price includes tax (#4138)
  packages/dashboard/src/app/routes/_authenticated/_product-variants/components/variant-price-detail.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Exclude .spec.tsx files from index generation
  packages/dashboard/scripts/generate-index.js
  packages/dashboard/src/lib/index.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix usePaginatedList context duplication in extensions (#4164)
  .lintstagedrc.json
  packages/dashboard/CLAUDE.md
  packages/dashboard/scripts/check-lib-imports.js
  packages/dashboard/scripts/generate-index.js
  packages/dashboard/src/app/common/delete-bulk-action.tsx
  packages/dashboard/src/app/common/duplicate-bulk-action.tsx
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_product-variants/components/product-variant-bulk-actions.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-bulk-actions.tsx
  packages/dashboard/src/lib/components/data-table/data-table-context.tsx
  packages/dashboard/src/lib/components/data-table/global-views-bar.tsx
  packages/dashboard/src/lib/components/data-table/my-views-button.tsx
  packages/dashboard/src/lib/components/data-table/save-view-button.tsx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
  packages/dashboard/src/lib/components/data-table/views-sheet.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-bulk-action.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-context.ts
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/components/shared/remove-from-channel-bulk-action.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/base-widget.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/latest-orders-widget/index.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/metrics-widget/chart.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/metrics-widget/index.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/orders-summary/index.tsx
  packages/dashboard/src/lib/framework/dashboard-widget/widget-filters-context.tsx
  packages/dashboard/src/lib/hooks/use-alerts-context.ts
  packages/dashboard/src/lib/hooks/use-alerts.ts
  packages/dashboard/src/lib/hooks/use-data-table-context.ts
  packages/dashboard/src/lib/hooks/use-paginated-list.ts
  packages/dashboard/src/lib/hooks/use-widget-dimensions.ts
  packages/dashboard/src/lib/hooks/use-widget-filters.ts
  packages/dashboard/src/lib/index.ts
  packages/dashboard/src/lib/providers/alerts-provider.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(docs): Update admonition syntax for remark-directive v4
  docs/docs/guides/extending-the-admin-ui/getting-started/index.mdx
  docs/docs/guides/extending-the-dashboard/custom-form-components/index.mdx
  docs/docs/guides/extending-the-dashboard/customizing-pages/page-blocks.mdx
  docs/docs/guides/extending-the-dashboard/deployment/index.mdx
  docs/docs/guides/extending-the-dashboard/getting-started/index.mdx
  docs/docs/guides/extending-the-dashboard/navigation/index.mdx
  docs/docs/guides/how-to/cms-integration-plugin/index.mdx
  docs/docs/guides/how-to/codegen/index.mdx
  docs/docs/reference/core-plugins/admin-ui-plugin/index.mdx
Due: none

fix(dashboard): Fix displaying HistoryEntry for CustomerEmailUpdateComponent
  packages/dashboard/src/app/routes/_authenticated/_customers/components/customer-history/default-customer-history-components.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(docs): Add admonition syntax validation to MDX tests
  docs/package-lock.json
  docs/package.json
  docs/scripts/test-mdx.ts
Due: none

refactor(dashboard): Reduce cognitive complexity in calculateDragTargetPosition
  packages/dashboard/src/lib/components/data-table/data-table-utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Add pagination for sub-collections in collection list (#4154)
  packages/core/src/service/services/collection.service.ts
  packages/dashboard/src/app/routes/_authenticated/_collections/collections.tsx
  packages/dashboard/src/lib/components/data-table/data-table-utils.ts
  packages/dashboard/src/lib/components/data-table/data-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fallback to default input when custom form component not found
  packages/dashboard/src/lib/framework/form-engine/custom-form-component.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix displaying HistoryEntry for CustomerEmailUpdateComponent (#4167)
  packages/dashboard/src/app/routes/_authenticated/_customers/components/customer-history/default-customer-history-components.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fallback to default input when custom form component not found (#4168)
  packages/dashboard/src/lib/framework/form-engine/custom-form-component.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(admin-ui-plugin): Update admonition syntax for remark-directive v4
  docs/docs/reference/core-plugins/admin-ui-plugin/index.mdx
  packages/admin-ui-plugin/src/plugin.ts
Due: none

chore(docs): Bump docs package version
  docs/package-lock.json
  docs/package.json
Due: none

feat(docs): Add announcement bar for new docs experience
  docs/docusaurus.config.js
Due: none

feat(dashboard): Add disabled option to exclude columns in ListPage
  docs/docs/guides/extending-the-dashboard/creating-pages/list-pages.md
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
  packages/dashboard/src/lib/components/shared/paginated-list-data-table.tsx
  packages/dashboard/src/lib/framework/page/list-page.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

chore(docs): Update docs workflows
  .github/workflows/docsearch.yml
  .github/workflows/publish_docs.yml
Due: none

chore: Use generated types from master
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-shop-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  packages/payments-plugin/e2e/graphql/generated-admin-types.ts
  packages/payments-plugin/e2e/graphql/generated-shop-types.ts
  packages/payments-plugin/src/mollie/graphql/generated-shop-types.ts
Due: none

chore(docs): Regenerate API documentation
  docs/docs/reference/core-plugins/payments-plugin/mollie-plugin.mdx
  docs/docs/reference/dashboard/hooks/use-paginated-list.mdx
  docs/docs/reference/dashboard/hooks/use-widget-filters.mdx
  docs/docs/reference/dashboard/list-views/data-table.mdx
  docs/docs/reference/dashboard/list-views/paginated-list-data-table.mdx
  docs/docs/reference/graphql-api/admin/input-types.mdx
  docs/docs/reference/graphql-api/admin/object-types.mdx
  docs/docs/reference/graphql-api/shop/input-types.mdx
  docs/docs/reference/graphql-api/shop/object-types.mdx
  docs/docs/reference/typescript-api/common/currency-code.mdx
  docs/docs/reference/typescript-api/common/job-state.mdx
  docs/docs/reference/typescript-api/common/language-code.mdx
  docs/docs/reference/typescript-api/common/permission.mdx
  docs/docs/reference/typescript-api/services/collection-service.mdx
Due: none

fix(docs): Prevent ReDoS in JSDoc link regex
  scripts/docs/generate-graphql-docs.ts
Due: none

fix(docs): Escape backslashes in template string encoding
  scripts/docs/generate-graphql-docs.ts
Due: none

fix(docs): Add missing @types/node dependency
  docs/package-lock.json
  docs/package.json
Due: none

fix(docs): Use bracket syntax for admonition titles
  docs/docs/guides/developer-guide/database-entity/index.mdx
  docs/docs/guides/extending-the-dashboard/customizing-pages/customizing-detail-pages.mdx
Due: none
