Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

refactor(dashboard): Remove schema changes
  schema-admin.json
  schema-shop.json
Due: none

fix(dashboard): Fix facet values sheet in facet list (#4064)
  packages/dashboard/src/app/routes/_authenticated/_facets/components/facet-values-sheet.tsx
  packages/dashboard/src/app/routes/_authenticated/_facets/components/facet-values-table.tsx
  packages/dashboard/src/app/routes/_authenticated/_facets/facets.tsx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Show zone regions by default
  packages/dashboard/src/app/routes/_authenticated/_zones/zones.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix error due to ProductVariantPrice custom fields
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants.graphql.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: Save tanstack generated routeTree format
  .prettierignore
  packages/dashboard/src/app/routeTree.gen.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore: Configure coderabbit to be less annoying
  .coderabbit.yaml
Due: none

fix(dashboard): Improve RTL layout and Arabic translation in dashboard (#4008)
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
  packages/dashboard/src/lib/components/layout/channel-switcher.tsx
  packages/dashboard/src/lib/components/layout/nav-main.tsx
  packages/dashboard/src/lib/components/shared/alerts.tsx
  packages/dashboard/src/lib/components/ui/dropdown-menu.tsx
  packages/dashboard/src/lib/components/ui/sidebar.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(job-queue-plugin): Respect configured prefix in RedisJobBufferStorageStrategy
  packages/job-queue-plugin/src/bullmq/redis-job-buffer-storage-strategy.ts
Due: none

fix(dashboard): Ensure columnConfig defined before reading
  packages/dashboard/src/lib/components/data-table/data-table-context.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Persist user-defined column order in saved views (#3988)
  packages/dashboard/src/lib/components/data-table/data-table-context.tsx
  packages/dashboard/src/lib/components/data-table/save-view-dialog.tsx
  packages/dashboard/src/lib/components/data-table/views-sheet.tsx
  packages/dashboard/src/lib/hooks/use-saved-views.ts
  packages/dashboard/src/lib/types/saved-views.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

feat(email-plugin): Add support for asynchronous email generators (#3976)
  packages/email-plugin/src/email-processor.ts
  packages/email-plugin/src/generator/email-generator.ts
  packages/email-plugin/src/generator/handlebars-mjml-generator.ts
Due: none

refactor(dashboard): PR feedback
  packages/dashboard/src/lib/components/shared/assign-to-channel-dialog.tsx
  packages/dashboard/src/lib/components/shared/channel-chip.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

feat(dashboard): Product channel assigner (#4063)
  packages/dashboard/src/app/routes/_authenticated/_products/products.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_products/products_.$id.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-bulk-action.tsx
  packages/dashboard/src/lib/components/shared/assign-to-channel-dialog.tsx
  packages/dashboard/src/lib/components/shared/assigned-channels.tsx
  packages/dashboard/src/lib/components/shared/assigned-facet-values.tsx
  packages/dashboard/src/lib/components/shared/channel-chip.tsx
  packages/dashboard/src/lib/providers/channel-provider.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix tsc error
  packages/dashboard/src/lib/components/data-table/global-views-bar.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(job-queue-plugin): Respect configured prefix in RedisJobBufferStorageStrategy (#4066)
  packages/job-queue-plugin/src/bullmq/redis-job-buffer-storage-strategy.ts
Due: none

fix(core): Update validation for session when using relationLoadStrategy query (#3691)
  packages/core/src/service/services/auth.service.ts
  packages/core/src/service/services/session.service.ts
Due: none

feat(payments-plugin): Add multi-currency support for braintree merchant accounts
  package-lock.json
  packages/payments-plugin/src/braintree/braintree-common.ts
  packages/payments-plugin/src/braintree/braintree.handler.ts
  packages/payments-plugin/src/braintree/types.ts
Due: none

fix(core): Fix complex list filtering with multiple same filter fields
  packages/core/e2e/fixtures/test-plugins/list-query-plugin.ts
  packages/core/e2e/list-query-builder.e2e-spec.ts
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.spec.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.ts
Due: none

refactor(core): Better encapsulation of filter logic
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.ts
Due: none

fix(core): Fix list query changes for postgres
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
Due: none

fix(core): Fix scheduled task concurrent execution on Postgres
  packages/core/src/plugin/default-scheduler-plugin/default-scheduler-strategy.ts
  packages/dev-server/test-plugins/scheduler-race-test/index.ts
  packages/dev-server/test-plugins/scheduler-race-test/scheduler-race-test-task.ts
Due: none

fix(core): Fix handling of "between" filter clause
  packages/core/e2e/fixtures/test-plugins/list-query-plugin.ts
  packages/core/e2e/list-query-builder.e2e-spec.ts
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
Due: none

fix(core): Fix lock acquisition for SQLite
  packages/core/src/plugin/default-scheduler-plugin/default-scheduler-strategy.ts
Due: none

fix(core): Correct behaviour of complex list filtering (#4068)
  packages/core/e2e/fixtures/test-plugins/list-query-plugin.ts
  packages/core/e2e/list-query-builder.e2e-spec.ts
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.spec.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.ts
Due: none

fix(core): Fix scheduled task concurrent execution on Postgres (#4069)
  packages/core/src/plugin/default-scheduler-plugin/default-scheduler-strategy.ts
  packages/dev-server/test-plugins/scheduler-race-test/index.ts
  packages/dev-server/test-plugins/scheduler-race-test/scheduler-race-test-task.ts
Due: none

docs: Fix getting started docs issues
  docs/docs/guides/getting-started/installation/index.md
Due: none

docs: Update docs to include new Next.js starter (#4060)
  docs/docs/guides/getting-started/installation/app-screens.webp
  docs/docs/guides/getting-started/installation/create-1.webp
  docs/docs/guides/getting-started/installation/create-2.webp
  docs/docs/guides/getting-started/installation/create-3.webp
  docs/docs/guides/getting-started/installation/index.md
  docs/docs/guides/storefront/storefront-starters/index.mdx
  docs/docs/guides/storefront/storefront-starters/next-storefront.webp
  packages/create/src/create-vendure-app.ts
Due: none

fix(create): Handle port conflicts between server & storefront
  packages/create/src/create-vendure-app.ts
Due: none

fix(dashboard): Further fix to rate limiting in dev mode
  packages/dashboard/plugin/dashboard.plugin.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(create): Use actual server port for vite config
  packages/create/src/create-vendure-app.ts
  packages/create/src/gather-user-responses.ts
  packages/create/src/types.ts
  packages/create/templates/vite.config.hbs
Due: none

docs: Regenerate docs
  docs/docs/reference/core-plugins/admin-ui-plugin/admin-ui-plugin-options.md
  docs/docs/reference/core-plugins/admin-ui-plugin/index.md
  docs/docs/reference/dashboard/components/channel-chip.md
  docs/docs/reference/dashboard/detail-views/use-detail-page.md
  docs/docs/reference/dashboard/detail-views/use-generated-form.md
  docs/docs/reference/dashboard/extensions-api/data-tables.md
  docs/docs/reference/dashboard/extensions-api/navigation.md
  docs/docs/reference/dashboard/extensions-api/page-blocks.md
  docs/docs/reference/dashboard/extensions-api/routes.md
  docs/docs/reference/dashboard/hooks/use-channel.md
  docs/docs/reference/dashboard/hooks/use-drag-and-drop.md
  docs/docs/reference/dashboard/hooks/use-sorted-languages.md
  docs/docs/reference/dashboard/list-views/bulk-actions.md
  docs/docs/reference/dashboard/list-views/data-table.md
  docs/docs/reference/dashboard/list-views/list-page.md
  docs/docs/reference/dashboard/list-views/paginated-list-data-table.md
  docs/docs/reference/dashboard/page-layout/page-action-bar.md
  docs/docs/reference/dashboard/page-layout/page-block.md
  docs/docs/reference/dashboard/page-layout/page-title.md
  docs/docs/reference/dashboard/vite-plugin/vendure-dashboard-plugin.md
  docs/docs/reference/typescript-api/data-access/list-query-builder.md
  docs/docs/reference/typescript-api/services/role-service.md
  docs/docs/reference/typescript-api/services/zone-service.md
Due: none

chore: Publish v3.5.2
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/admin-ui-plugin/package.json
  packages/admin-ui/package.json
  packages/admin-ui/src/lib/core/src/common/version.ts
  packages/asset-server-plugin/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dashboard/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
  packages/graphiql-plugin/package.json
  packages/harden-plugin/package.json
  packages/job-queue-plugin/package.json
  packages/payments-plugin/package.json
  packages/sentry-plugin/package.json
  packages/stellate-plugin/package.json
  packages/telemetry-plugin/package.json
  packages/testing/package.json
  packages/ui-devkit/package.json
Due: none

fix(core): apply pessimistic locking to prevent order modification race conditions
  packages/core/e2e/race-condition.e2e-spec.ts
  packages/core/src/service/services/order.service.ts
Due: none

fix(PromotionService): exclude seller orders when counting promotion usage
  packages/core/src/service/services/promotion.service.ts
Due: none

refactor: use OrderType enum
  packages/core/src/service/services/promotion.service.ts
Due: none

feat(dashboard): Provide entity object to draft-order-detail Page component
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.draft.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Add several missing translation strings
  packages/dashboard/src/app/routes/_authenticated/_collections/components/collection-filters-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/components/payment-eligibility-checker-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_payment-methods/components/payment-handler-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_products/components/product-variants-table.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/fulfillment-handler-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/shipping-calculator-selector.tsx
  packages/dashboard/src/app/routes/_authenticated/_shipping-methods/components/shipping-eligibility-checker-selector.tsx
  packages/dashboard/src/lib/components/data-display/boolean.tsx
  packages/dashboard/src/lib/components/data-table/data-table-pagination.tsx
  packages/dashboard/src/lib/components/layout/channel-switcher.tsx
  packages/dashboard/src/lib/components/shared/asset/asset-gallery.tsx
  packages/dashboard/src/lib/components/shared/asset/asset-properties.tsx
  packages/dashboard/src/lib/components/shared/entity-assets.tsx
  packages/dashboard/src/lib/components/shared/product-variant-selector.tsx
  packages/dashboard/src/lib/components/ui/pagination.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Add translations
  packages/dashboard/src/i18n/locales/ar.po
  packages/dashboard/src/i18n/locales/bg.po
  packages/dashboard/src/i18n/locales/cs.po
  packages/dashboard/src/i18n/locales/de.po
  packages/dashboard/src/i18n/locales/en.po
  packages/dashboard/src/i18n/locales/es.po
  packages/dashboard/src/i18n/locales/fa.po
  packages/dashboard/src/i18n/locales/fr.po
  packages/dashboard/src/i18n/locales/he.po
  packages/dashboard/src/i18n/locales/hr.po
  packages/dashboard/src/i18n/locales/it.po
  packages/dashboard/src/i18n/locales/ja.po
  packages/dashboard/src/i18n/locales/nb.po
  packages/dashboard/src/i18n/locales/ne.po
  packages/dashboard/src/i18n/locales/pl.po
  packages/dashboard/src/i18n/locales/pt_BR.po
  packages/dashboard/src/i18n/locales/pt_PT.po
  packages/dashboard/src/i18n/locales/ru.po
  packages/dashboard/src/i18n/locales/sv.po
  packages/dashboard/src/i18n/locales/tr.po
  packages/dashboard/src/i18n/locales/uk.po
  packages/dashboard/src/i18n/locales/zh_Hans.po
  packages/dashboard/src/i18n/locales/zh_Hant.po
Due: none

fix(dashboard): Channel switcher not scrollable if list exceeds screen height
  packages/dashboard/src/lib/components/layout/channel-switcher.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): ChannelSwitcher list should also use renderChannel function
  packages/dashboard/src/lib/components/layout/channel-switcher.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
