Repository vendure-ecommerce/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(core): Fix tax summary rounding inconsistency in OrderLevelTaxSummaryCalculationStrategy
  packages/core/src/config/tax/order-level-tax-summary-calculation-strategy.ts
Due: none

fix(core): Add consistent null-safety guards for order relations in tax strategies
  packages/core/src/config/tax/default-order-tax-summary-calculation-strategy.ts
  packages/core/src/config/tax/order-level-tax-summary-calculation-strategy.ts
Due: none

test(core): Add test for same tax rate on items and shipping
  packages/core/src/config/tax/order-tax-summary-calculation-strategy.spec.ts
Due: none

test(core): Simplify tax consistency assertion in order-calculator test
  packages/core/src/service/helpers/order-calculator/order-calculator.spec.ts
Due: none

test(core): Strengthen tax strategy test assertions
  packages/core/src/config/tax/order-tax-summary-calculation-strategy.spec.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.spec.ts
Due: none

fix(dashboard): Style variant options consistent with product detail
  packages/dashboard/src/app/routes/_authenticated/_product-variants/product-variants_.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Fix order line discounts showing [object Object]
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

Update packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

chore(dashboard): Add error messages to update draft mutations
  packages/dashboard/src/app/routes/_authenticated/_orders/orders_.draft.$id.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

Update dashboard dependencies
  packages/dashboard/package.json
Due: none

feat(core): Provide app instance before app starts listening
  packages/core/src/bootstrap.ts
  packages/core/src/config/vendure-config.ts
Due: none

fix: Add custom fields of fulfillment in dashboard
  packages/dashboard/src/app/routes/_authenticated/_orders/components/fulfillment-details.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-detail-shared.tsx
  packages/dashboard/src/app/routes/_authenticated/_orders/orders.graphql.ts
  packages/dashboard/src/app/routes/_authenticated/_orders/utils/order-detail-loaders.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched

fix(dashboard): Add missing dashboard dependency (#4384)
  packages/dashboard/package.json
Due: none

fix(dashboard): Return null for nullable non-string field defaults (#4339)
  docs/docs/reference/dashboard/detail-views/use-generated-form.mdx
  packages/dashboard/e2e/tests/regression/issue-4155-nullable-custom-fields.spec.ts
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.spec.ts
  packages/dashboard/src/lib/framework/form-engine/form-schema-tools.ts
  packages/dashboard/src/lib/framework/form-engine/use-generated-form.tsx
  packages/dashboard/src/lib/framework/form-engine/utils.spec.ts
  packages/dashboard/src/lib/framework/form-engine/utils.ts
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(dashboard): Fix order line discounts showing `[object Object]` (#4378)
  packages/dashboard/src/app/routes/_authenticated/_orders/components/order-table.tsx
  packages/dashboard/src/lib/components/data-table/use-generated-columns.tsx
Due: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched, node packages/dashboard/scripts/check-lib-imports.js

fix(core): Include channelId in productInStock cache key (#4214)
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/src/plugin/default-search-plugin/indexer/indexer.controller.ts
  packages/elasticsearch-plugin/e2e/elasticsearch-plugin.e2e-spec.ts
  packages/elasticsearch-plugin/src/indexing/indexer.controller.ts
Due: none

fix(core): Persist customFields in updateGlobalSettings mutation (#4343)
  packages/core/e2e/custom-field-relations.e2e-spec.ts
  packages/core/src/service/services/global-settings.service.ts
Due: none

Path conditions:
  biome check --write --files-ignore-unknown=true --no-errors-on-unmatched: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/dashboard/**/*.{ts,tsx})
  node packages/dashboard/scripts/check-lib-imports.js: any of: packages/dashboard/src/lib/**/use-*.{ts,tsx}
